@media(max-width:523px) {
    .border-left{
        position:fixed;
        top:0;
        right:0;
        z-index: 999;
        width: 15px;
        height: calc(100vh - 64px);
        background:#000000eb;
        box-shadow: -7px 4px 7px #050505
    }
}
